<% cache comment do %>
  <div class="comment">
    <h3>Comment <%= comment.id %>:</h3>
    <p><%= comment.body %></p>
    <div class="reply">
      <%= link_to "#{comment.replies.length} reply", reply_path(comment), id:"reply_link", remote: true %>
    </div>
  </div>
<% end %>
