<section class="post">
  <h2>Post <%= "#{post.id}: #{post.title}" %></h2>
  <div class="post"><%= post.body %></div>
  <%= link_to "#{post.comments.length} comment(s)", post_comments_path(post), id:"reply_link", remote: true %>
</section>
