<h1>Ivan the Terrible's Blog</h1>
<section class="blog">
  <%= render @posts.sample %>
</section>

<section class="index">
  Popular Posts:
  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
  <% end %>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
