<h1>Ivan the Terrible's Blog</h1>
<section class="blog">
  <%= render @posts.sample %>
</section>
<br /><br />
<section class="index">
  <h3>More Posts:</h3>
  <% @posts.each do |post| %>
    <%= link_to post.title, post %><br>
  <% end %>
</section>



<%= link_to 'New Post', new_post_path %>
